.categories {
  padding: 128px 0;
}

.categories__title {
  text-align: center;
  margin-bottom: 48px;

  font-family: var(--categories-title-ff);
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.06em;
  color: var(--categories-title-color);
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.categories__list-item {
  padding: 32px;

  cursor: pointer;
  border: 1px solid rgba(109, 110, 118, 0.3);
  transition: all 0.5s ease-in-out;
}

.categories__list-item:hover {
  background-color: var(--categories-item-hover-bg);
}

.categories__list-item_icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.categories__list-item_name {
  margin: 16px 0 4px;

  font-family: var(--categories-item-name-ff);
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: var(--categories-item-name-color);
}

.categories__list-item_info {
  font-family: var(--categories-item-info-ff);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--categories-item-info-color);
}
