.intro {
  padding: 128px 0 200px;

  background-image: url(../../assets/img/intro-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.mw-intro-content {
  max-width: 800px;
}

.intro__subtitlie,
.subtitlie-accent {
  font-family: var(--intro-subtitlie-ff);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: var(--intro-subtitlie-color);
}

.subtitlie-accent {
  font-weight: 900;
}

.intro__title {
  margin: 24px 0;

  font-family: var(--intro-title-ff);
  font-weight: 700;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.04em;
  color: var(--intro-title-color);
}

.intro__creator-name,
.intro__creator-date {
  font-family: var(--intro-creator-name-ff);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--intro-creator-name-color);
}

.name-accent {
  color: var(--intro-name-accent);
}

.intro__creator-date {
  position: relative;
  margin-left: 25px;
}

.intro__creator-date::before {
  position: absolute;
  content: "|";
  top: 0;
  left: -15px;
  color: #fff;
}

.intro__info {
  margin: 16px 0 48px;

  font-family: var(--intro-info-ff);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--intro-info-color);
}

.intro__btn-more {
  padding: 16px 48px;

  background-color: var(--intro-btn-more-bg-color);
  font-family: var(--intro-btn-more-ff);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--intro-btn-more-color);
  transition: background-color 0.3s ease-in-out;
}

.intro__btn-more:hover {
  background-color: var(--intro-btn-more-hover-bg-color);
}
