.post__item {
  padding: 25px 116px 25px 32px;
  transition: background-color 0.6s ease-in-out;
  cursor: pointer;
}

.post__item:hover {
  background-color: #fbf6ea;
}

.post__item-creator {
  display: flex;
}

.post__item-creator_name,
.posts__item_creator_date {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #4c4c4c;
}

.posts__item_creator_date {
  position: relative;
  margin-left: 25px;
}

.posts__item_creator_date::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 2px;
  top: 5px;
  left: -13px;
  background-color: #4c4c4c;
}

.p-creator_name-accent {
  color: #592ea9;
}

.post__item-title {
  max-width: 340px;

  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #232536;
}
